[Unit]
Description=AOS VIS
Requires=network-online.target
After=network-online.target

[Service]
RestartSec=10
WorkingDirectory=/var/aos/vis
ExecStart=/usr/bin/aos_vis -c /var/aos/vis/visconfig.json
Restart=always

[Install]
WantedBy=multi-user.target