*.pyc
*.pyo
/*.patch
/build*/
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
hob-image-*.bb
*.swp
*.orig
*.rej
*~
pull-*/
bitbake/lib/toaster/contrib/tts/backlog.txt
bitbake/lib/toaster/contrib/tts/log/*
bitbake/lib/toaster/contrib/tts/.cache/*
.cproject
.project
.pydevproject
