# =====================================================================
# Example PV Linux guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for a
# Paravirtualised Linux guest. For a more complete guide see xl.cfg(5)

# disk = [ 'phy:/dev/sda4,xvda1', 'phy:/dev/mmcblk1p1,xvda2' ]

seclabel='system_u:system_r:domU_t'
device_tree = "/xen/domu.dtb"
coproc=[ "/soc/gsx@fd000000" ]
irqs=[ 151 ]
#iomem=[ "0xfd000,40" ]

# Guest name
name = "DomU"

# 128-bit UUID for the domain as a hexadecimal number.
# Use "uuidgen" to generate one if required.
# The default behavior is to generate a new UUID each time the guest is started.
#uuid = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# Kernel image to boot
#kernel = "/var/lib/xen/images/ubuntu-netboot/16.10/linux"
#ramdisk = "/var/lib/xen/images/ubuntu-netboot/16.10/initrd.gz"
#kernel = "/boot/vmlinuz-4.10.0-rc6+"
kernel = "/boot/domu/Image"

#bootloader = "/home/root/pygrub"
#bootloader_arg = ['root=/dev/xvda2']

# Ramdisk (optional)
#ramdisk = "/boot/initrd/initrd.img"

# Kernel command line options
extra = "root=/dev/nfs nfsroot=192.168.1.100:/srv/domu ip=192.168.1.11 rw rootwait rootfstype=ext4 console=hvc0 cma=64M"

# Initial memory allocation (MB)
memory = 256

# Maximum memory (MB)
# If this is greater than `memory' then the slack will start ballooned
# (this assumes guest kernel support for ballooning)
#maxmem = 512

# Number of VCPUS
vcpus = 4

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = [ 'bridge=xenbr0,mac=08:00:27:ff:cb:cd' ]

# Disk Devices
# A list of `diskspec' entries as described in
# docs/misc/xl-disk-configuration.txt
#disk = [ '/dev/vg/guest-volume,raw,xvda,rw' ]
#disk = [ '/dev/mmcblk1p2,raw,xvda,rw' ]

vdispl = [ 'backend=0, beAlloc=0, connectors=id0:640x480' ]

on_crash = 'preserve'
