[Unit]
Description=EPAM Display Manager
Requires=dbus.service weston@root.service
After=dbus.service weston@root.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/0"
Type=dbus
BusName=com.epam.DisplayManager
ExecStartPre=/usr/bin/weston-info
ExecStart=/usr/bin/display_manager -s -c /xt/cfg/dm.cfg
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
