[Unit]
Description=Car sensors data emulator
Wants=systemd-networkd.service
After=systemd-networkd.service

[Service]
WorkingDirectory=/xt/sensors-emulator
ExecStart=/usr/bin/python3 /xt/sensors-emulator/sensors_info_sender.py
Restart=always

[Install]
WantedBy=multi-user.target
