
# HDMI_IN camera configuration
vcamera = [[ 'backend=DomD, be-alloc=0, unique-id=video0:media0, max-buffers=4',
             'format=NV12, resolution=1024x768',
             'format=NV12, resolution=1920x1080'
          ]]

# CVBS camera configuration
# vcamera = [[ 'backend=DomD, be-alloc=0, unique-id=video5:media0, max-buffers=4',
#              'format=NV12, resolution=720x240'
#           ]]

# USB camera configuration
# vcamera = [[ 'backend=DomD, be-alloc=0, unique-id=cam_front, controls=hue;saturation, max-buffers=4',
#              'format=YUYV, resolution=640x480, frame-rates=30/1;15/1'
#           ]]
