[Unit]
Description=EPAM Display Manager
Requires=dbus.service
Before=HomeScreen.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/0"
Type=dbus
BusName=com.epam.DisplayManager
ExecStartPre=/usr/bin/weston-info
ExecStart=/usr/bin/display_manager -c /xt/cfg/dm.cfg
Restart=on-failure
RestartSec=4

[Install]
WantedBy=default.target
